#		-*- mode:sh -*-			#

# temporary files
*.o
*.in
LOG
LOG_EVENTS
*\#
*user
build/

# Autotools output
.dirstamp
Makefile
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
*.deps/
*.am.user*

# personal files
valgrind_log*
valgrind_suppressions
commit
LOG2
VLOG*

# Emacs TAGS
TAGS
etags

# Eclipse files
.autotools
.cproject
.project
.settings

# Qt Creator files
warevolved.*

# Doxygen
doc/doxygen/

# Perf
perf.data*

# bugs screen shots
screen_bugs/

# binary
we
