#		-*- mode:sh -*-			#

*.o
*.in

# Autotools output
.dirstamp
Makefile
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
src/.deps/

src/tst.png

valgrind_log*

# Emacs TAGS
TAGS

# binary
we
