#		-*- mode:sh -*-			#

*.o
*.in
LOG

# Autotools output
.dirstamp
Makefile
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
*.deps/

# personal files
valgrind_log*
commit
LOG2
VLOG*

# Emacs TAGS
TAGS
etags

# Eclipse files
.autotools
.cproject
.project
.settings

# Doxygen
html/
latex/
man/

# Perf
perf.data*

# bugs screen shots
screen_bugs/

# binary
we
